@tailwind base;
@tailwind components;
@tailwind utilities;

/* .transition-open {
  transition: all 0.3s linear;
  
} */
.transition-close {
	height: 0;
	display: none;
	transition: all 9s linear;
}
.transition-call {
}
.active {
	@apply border-blue-400 text-blue-400;
}

.d-none {
	display: none;
}

.rs-panel-title {
	@apply text-lg font-bold;
}
.rs-panel {
	border-bottom: 2px solid;
}
.h-80screen {
	height: 80vh;
}
div.rs-drawer-right.rs-drawer-lg {
	width: 100%;
}
@media (min-width: 768px) {
	.rs-drawer-right.rs-drawer-lg {
		width: 968px !important;
	}
}
input.rs-input {
	@apply w-56;
}
